* {
    color: rgb(210, 210, 210);
    font-family: Roboto, sans-serif;
    font-weight: bold;

    margin: 0;
    padding: 0;
    text-align: center;
}

body {
    background: rgb(0, 0, 0);
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

button {
    background-color: blueviolet;
    color: rgb(215, 175, 50);

    font-size: 32px;
    font-weight: bold;    

    border: 6px rgb(235, 150, 50) solid;
    border-radius: 30px;
    height: 64px;
    width: 200px;
}

#title {
    font-size: 72px;
    font-weight: 900;
}

#rounds {
    font-size: 32px;
    font-weight: bold;
}

.scores,
.choices {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 100px;
}

.scores {
    font-size: 40px;
    font-weight: bold;

    text-decoration: underline;

    justify-content:center;
    gap: 10vw;
}

#human-score,
#computer-score {
    border: 5px none rgb(210, 210, 210);
    border-radius: 12px;
    padding: 12px;
}

#human-score {
    background-color: rgb(50, 130, 107);
} 

#computer-score {
    background-color: rgb(130, 50, 107)
}

.choices {
    background-color: rgb(130, 80, 160);
    
    border: 10px solid rgb(58, 12, 110);
    border-radius: 20%;

    padding: 2em 1.5em;
    margin: 0 auto;

    align-self: stretch;
}

#round-message {
    font-size: 32px;
    width: 600px;
}

#result-message {
    font-size: 40px;
    font-style: italic;
    
    height: 60px;
}

.footer {
    font-size: 18px;
    padding: 0 0 24px;
}

